div.customBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 10px;
}

div.customBar > div {
    margin: auto;
    padding: 5px;
    padding-top: 0;
    border-radius: 5px;
}

.dropdown-menu-content {
    align-items: flex-end;
}

.dropdown-menu-content > * {
    margin-left: 5px;
    margin-right: 5px;
}

.dropdown-menu-content > .form-selectgroup-item {
    margin-bottom: 2px;
}

.customBar .checkbox {
   display: inline-block;
   margin: 10px 0 0 20px; 
}

.noUi-target {
    color: var(--indigo) !important;
    height: .25rem;
    padding: 0 !important;
}

.form-selectgroup-label {
    background-color: var(--sand);
}

.choices .form-select {
    background-color: var(--sand);
}

.choices.is-focused .form-select {
    border-color: transparent;
    box-shadow: 0 0 0 .25rem var(--light-indigo);
}

.choices .dropdown-menu .dropdown-item.is-highlighted {
    color: var(--indigo);
    background-color: var(--light-indigo) !important;
}

.choices__list.dropdown-menu {
    margin-top: 7px;
    background-color: var(--sand);
}

.choices__list.dropdown-menu .choices__list {
    padding-left: .5rem;
    padding-right: .65rem;
}

.choices__list--single {
    width: 120px;
}

.choices__item {
    font-size: .8em;
    min-width: 11rem;
    border-radius: 4px;
}
